<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href=".././css/style.css" />
    <title>list</title>

  </head>
  <body>

		<div class="yy-tabbar">
			<a href="../index.html" class="yy-tabbar-item tabbar-active">
				<div class="yy-tabbar-icon">
					<span class="yy-tabbar-icon-home">
						<img src=".././images/icon.png" alt="" />
					</span>
				</div>
				<p class="yy-tabbar-label">
					Home
				</p>
			</a>
			<a href="../index.html" class="yy-tabbar-item">
				<div class="yy-tabbar-icon">
					<span class="yy-tabbar-icon-home">
						<img src=".././images/icon.png" alt="" />
					</span>
				</div>
				<p class="yy-tabbar-label">
					Home
				</p>
			</a>
			<a href="../index.html" class="yy-tabbar-item">
				<div class="yy-tabbar-icon">
					<span class="yy-tabbar-icon-home">
						<img src=".././images/icon.png" alt="" />
					</span>
				</div>
				<p class="yy-tabbar-label">
					Home
				</p>
			</a>
		</div>
		
    <div class="yy-content">
    	tab有点难，js部分都还没写
    </div>
		
  </body>

</html>
