<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href=".././css/style.css" />
    <title>table</title>

  </head>
  <body>

  <div class="yy-tabbar">
	  <a href="../index.html" class="yy-tabbar-item tabbar-active">
		  <div class="yy-tabbar-icon">
					<span class="yy-tabbar-icon-home">
						<img src=".././images/icon.png" alt="" />
					</span>
		  </div>
		  <p class="yy-tabbar-label">
			  Home
		  </p>
	  </a>
	  <a href="../index.html" class="yy-tabbar-item">
		  <div class="yy-tabbar-icon">
					<span class="yy-tabbar-icon-home">
						<img src=".././images/icon.png" alt="" />
					</span>
		  </div>
		  <p class="yy-tabbar-label">
			  Home
		  </p>
	  </a>
	  <a href="../index.html" class="yy-tabbar-item">
		  <div class="yy-tabbar-icon">
					<span class="yy-tabbar-icon-home">
						<img src=".././images/icon.png" alt="" />
					</span>
		  </div>
		  <p class="yy-tabbar-label">
			  Home
		  </p>
	  </a>
  </div>
		
  <div class="yy-content">
		<div class="yy-divider">
			<span class="line"></span>
			<span class="text">原生table</span>
			<span class="line"></span>
		</div>
		<table class="yy-table colored">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Apple</td>
					<td>$1.25</td>
				</tr>
				<tr>
					<td>Banana</td>
					<td>$1.20</td>
				</tr>
			</tbody>
		</table>

	    <div class="yy-divider">
			  <span class="line"></span>
			  <span class="text">div绘制的 table</span>
			  <span class="line"></span>
		  </div>
	  	<div class="yy-table">
			<div class="yy-tr">
				<div class="yy-th">Product</div>
				<div class="yy-th">Price</div>
			</div>
			<div class="yy-tr">
				<div class="yy-td">Apple</div>
				<div class="yy-td">$1.25</div>
			</div>
			<div class="yy-tr">
				<div class="yy-td">Banana</div>
				<div class="yy-td">$1.20</div>
			</div>
		</div>

	  <div class="yy-divider">
		  <span class="line"></span>
		  <span class="text">颜色间隔的 table</span>
		  <span class="line"></span>
	  </div>
	  <div class="yy-table colored">
		  <div class="yy-tr">
			  <div class="yy-th">Product</div>
			  <div class="yy-th">Price</div>
		  </div>
		  <div class="yy-tr">
			  <div class="yy-td">Apple</div>
			  <div class="yy-td">$1.25</div>
		  </div>
		  <div class="yy-tr">
			  <div class="yy-td">Banana</div>
			  <div class="yy-td">$1.20</div>
		  </div>
		  <div class="yy-tr">
			  <div class="yy-td">Banana</div>
			  <div class="yy-td">$1.20</div>
		  </div>
	  </div>
    </div>
		
  </body>

</html>
