<div class="main-container">

  <div class="section">
    <h4>路由跳转方式、路由传参：</h4>
    <ul class="items">
      <li class="item">
        <a href="javascript:void(0)" routerLink="/layout1/detail2" [queryParams]="{id:'520'}">routerLink 方式跳转到另一种布局(只有头部)，并带参数</a>
      </li>
      <li class="item">
        <a href="javascript:void(0)" routerLink="/layout2/detail" [queryParams]="{id:'1314'}">routerLink 方式跳转到另一种布局(只有尾部)，并带参数</a>
      </li>
      <li class="item">
        <a href="javascript:void(0)" (click)="goToDetail()">click 函数跳转，并带参数</a>
      </li>
    </ul>
  </div>

  <div class="section">
    <!-- list组件 -->
    <app-list [messageList]="messageList"></app-list>
  </div>
</div>
