<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href=".././css/style.css" />
    <title>line</title>

  </head>
  <body>

    <div class="yy-content" style="background-color: #fff;">
    	<ul style="width: 70%;margin: 0 auto;padding:10px;text-align: center;">
    		<li>
    			<div style="margin: 10px;" class="line-l">
    				左边框
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;" class="line-r">
    				右边框
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;" class="line-t">
    				上边框
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;" class="line-b">
    				下边框
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;" class="line-tb">
    				上下边框
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;" class="line-all">
    				四边框
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;" class="line-all-r">
    				四边圆角边框 <br />
    				最好不要用line-height和height控制高度，不然手机兼容性有问题，用padding
    			</div>
    		</li>
    		<li>
    			<div style="margin: 10px;">
    				<p class="yy-divider">标题</p>
    			</div>
    		</li>
    	</ul>
    </div>
		
  </body>

</html>
