<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href=".././css/style.css" />
    <title>list</title>

  </head>
  <body>

    <div class="yy-content">
    	
    	<ul class="yy-cells">
    		<li>
					<a class="yy-cell yy-navigate-right" href="">
						<div class="yy-cell-icon">
							<img src=".././images/icon.png" alt="" />
						</div>
						<div class="yy-cell-title">
							<p>前面有icon的</p>
						</div>
						<div class="yy-cell-more">查看更多</div>
					</a>
				</li>
				<li>
					<a class="yy-cell yy-navigate-right" href="">
						<div class="yy-cell-title">
							<p>右侧带箭头 yy-navigate-right</p>
						</div>
						<div class="yy-cell-more">查看更多</div>
					</a>
				</li>
				<li>
					<a class="yy-cell" href="">
						<div class="yy-cell-title">
							<p>右侧不带箭头</p>
						</div>
						<div class="yy-cell-more">不带箭头</div>
					</a>
				</li>
				<li>
					<a class="yy-cell yy-navigate-right" href="">
						<div class="yy-cell-title">
							<p>只有标题和简介</p>
							<span class="yy-cell-desc">其他介绍</span>
						</div>
						<div class="yy-cell-more"></div>
					</a>
				</li>
			</ul>
			
    </div>
		
  </body>

</html>
