<div class="main-container">
  <h3>我来的地方给我的参数 id 是： {{id}}</h3>
  <p>山有木兮木有枝，心悦君兮君不知。____佚名《越人歌》</p>
  <p>人生若只如初见，何事秋风悲画扇。____纳兰性德《木兰词·拟古决绝词柬友》</p>
  <p>十年生死两茫茫，不思量，自难忘。____苏轼《江城子·乙卯正月二十日夜记梦》</p>
  <p>曾经沧海难为水，除却巫山不是云。____元稹《离思五首·其四》</p>
  <p>玲珑骰子安红豆，入骨相思知不知。____温庭筠《南歌子词二首 / 新添声杨柳枝词》</p>
  <p>只愿君心似我心，定不负相思意。____李之仪《卜算子·我住长江头》</p>
  <p>平生不会相思，才会相思，便害相思。____徐再思《折桂令·春情》</p>
  <p>愿得一心人，白头不相离。____卓文君《白头吟》</p>
  <p>山无陵，江水为竭。冬雷震震，夏雨雪。天地合，乃敢与君绝。____佚名《上邪》</p>
  <p>入我相思门，知我相思苦。____李白《三五七言 / 秋风词》</p>
</div>
