/* css reset */

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fbf9fe;
	margin: 0;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	background-color: transparent;
	color: #666;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
	-webkit-tap-highlight-color: transparent; /*去除a标签加上href后点击的背景色*/
}

a:hover,
a:focus {
	color: #23527c;
	text-decoration: none;
}

a:focus {
	outline: 0;
	outline-offset: 0;
}

b,
strong {
	font-weight: bold;
}

img {
	border: 0;
	vertical-align: middle;
	width: 100%;
	max-width: 100% !important;
}

button,
input,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
	line-height: inherit;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input {
	line-height: normal;
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

.hide,
.hidden {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.clear {
	zoom: 1;
	overflow: hidden;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

ul,
li {
	list-style: none;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

/*线条*/
.line-l,.line-r,.line-t,.line-b,.line-tb,.line-all,.line-all-r{
	position: relative;
	padding: 10px;
}
.line-l:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.line-r:after{
	content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.line-t:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.line-b:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.line-tb:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.line-tb:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.line-all:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #D9D9D9;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
}
.line-all-r:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #D9D9D9;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}
/*.yy-divider{
	display: table;
    white-space: nowrap;
    height: auto;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    padding: 10px 0;
    color: #666;
}
.yy-divider:after,.yy-divider:before{
	content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    height: 1px;
}*/
/*布局*/
.col-4{
	width: 25%;
}

/*input*/

input[type=radio],
input[type=checkbox]{
	position: relative;
    top: 2.5px;
    /*right: 20px;
    display: inline-block;*/
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0 !important;
    background-color: transparent;
    -webkit-appearance: none;
    background: url(.././images/select-icon.png) 0 center no-repeat!important;
    background-size: contain!important;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
    background: url(.././images/select-iconh.png) 0 center no-repeat!important;
    background-size: contain!important;
}
.yy-disabled .yy-cell-title{
	color: #999;
}
/* header */

.yy-header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #35495e;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.yy-header~.yy-content {
	padding-top: 50px;
}

/* yy-tabbar */
.yy-tabbar {
	height: 50px;
    width: 100%;
	background-color: #fff;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.yy-tabbar:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.tabbar-active .yy-tabbar-label{
	color: #F74C31;
}
.yy-tabbar-item {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 5px 0 0;
    font-size: 0;
    color: #999999;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.yy-tabbar-icon>span{
	display: block;
}
.yy-tabbar-icon-home>img{
	display: block;
	width: 22px;
	margin: 0 auto;
}
.yy-tabbar-label {
    text-align: center;
    color: #999;
    font-size: 10px;
    line-height: 1.8;
}

.yy-tabbar~.yy-content {
	padding-bottom: 50px;
}

/* yy-cells */
.yy-cells {
    margin-top: 15px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.yy-cells:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.yy-cells:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.yy-cell-icon>img{
	display: block;
	width: 20px;
	margin-right: 5px;
}
.yy-cell{
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.yy-cell:active {
  background-color: #ECECEC;
}
.yy-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 15px;
}
.yy-cells li:first-child .yy-cell:before {
    display: none;
}
.yy-cell-title{    
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; 
	word-wrap: break-word;
    word-break: break-all;
    color: #333;   
}
.yy-cell-desc{
	font-size: 14px;
    color: #666;
}
.yy-cell-more{
	text-align: right;
    color: #999999;
}
.yy-navigate-right{
	padding-right: 30px;
    position: relative;
}
.yy-navigate-right:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 15px;
}

/*yy-menu-cells*/
.yy-menu-cells {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	background-color: #fff;
}
.yy-menu-cell{
	text-align: center;
}
.yy-menu-cell>a {
	display: block;
	padding: 10px;
	position: relative;
}
.yy-menu-cell>a:active {
  background-color: #ECECEC;
}
.yy-menu-cell-icon>img{
	width: 30px;
}
.yy-menu-cell-title{
	padding-top: 5px;
}
.yy-menu-cells:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.yy-menu-cells:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.yy-menu-cell>a:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.yy-menu-cell>a:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}